

@page
@model Group4_Assignment2.Pages.IndianModel
@{
    ViewData["Title"] = "Healthy Indian Cuisine";
}
    <html>
    <! https://cssgradient.io/gradient-backgrounds/
    https://www.w3schools.com/w3css/w3css_colors.asp
    >
    <head>
        <title>Title</title>
        <style>


            body {
                background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
            }
        </style>


    </head>

    <body>


        <div class="w3-container w3-teal  w3-margin-bottom">

            <h1>The Very Best of Indian Cuisine</h1>
        </div>


        <div class="w3-container w3-light-green w3-margin-bottom">
            <h2>Start your Day with Idli & Dosa</h2>
        </div>

        <div class="w3-twothird w3-margin-bottom">
            <img src="images/Idli_Dosa_breakfast.jpg" style="width: 90% " height="600">
        </div>
        <div class="w3-third w3-margin-bottom">
            <p>Idlis and dosas are probably the most popular breakfast foods in India. Though they originated in South India, idlis and dosas have gained nation-wide recognition now. There’s probably no place in India where you will not find these popular South Indian breakfast foods. In fact, it is fair to say that idli and dosa have gained cult status throughout the world now.</p>
        </div>

        <div class="w3-container  ">
            <p></p>
        </div>

        <div class="w3-container w3-light-green  w3-margin-bottom">
            <h2>Enjoy a North Indian Thali</h2>
        </div>

        <div class="w3-twothird w3-margin-bottom">
            <img src="images/north-Indian-lunch-ideas.jpg" style="width: 90% " height="600">
        </div>
        <div class="w3-third  w3-margin-bottom">
            <p>
                Idlis and dosas are probably the most popular breakfast foods in India. Though they originated in South India, idlis and dosas have gained nation-wide recognition now. There’s probably no place in India where you will not find these popular South Indian breakfast foods. In fact, it is fair to say that idli and dosa have gained cult status throughout the world now.

            </p>
        </div>

        <div class="w3-container  ">
            <p></p>
        </div>

        <div class="w3-container w3-light-green w3-margin-bottom padding: 0 7em 2em 0">
            <h2>The Chit-chats with Hot Chai and Samosa</h2>
        </div>
        <div class="w3-twothird w3-margin-bottom">
            <img src="images/Samosa2.jpg" style="width: 90% " height="600">
        </div>
        <div class="w3-third w3-margin-bottom">
            <p>Idlis and dosas are probably the most popular breakfast foods in India. Though they originated in South India, idlis and dosas have gained nation-wide recognition now. There’s probably no place in India where you will not find these popular South Indian breakfast foods. In fact, it is fair to say that idli and dosa have gained cult status throughout the world now.</p>
        </div>

        <div class="w3-container  ">
            <p></p>
        </div>

        <div class="w3-container w3-light-green w3-margin-bottom">
            <h2>Finish your day with a full course Dinner </h2>
        </div>
        <div class="w3-twothird w3-margin-bottom">
            <img src="images/tandoori-chicken-indian-food.jpg" style="width: 90% " height="600">
        </div>
        <div class="w3-third w3-margin-bottom">
            <p>Idlis and dosas are probably the most popular breakfast foods in India. Though they originated in South India, idlis and dosas have gained nation-wide recognition now. There’s probably no place in India where you will not find these popular South Indian breakfast foods. In fact, it is fair to say that idli and dosa have gained cult status throughout the world now.</p>
        </div>
        <div class="w3-twothird w3-margin-bottom">
            <img src="images/roti-naan-whole-wheat.jpg" style="width: 90% " height="600">
        </div>
        <div class="w3-third w3-margin-bottom">
            <p>Idlis and dosas are probably the most popular breakfast foods in India. Though they originated in South India, idlis and dosas have gained nation-wide recognition now. There’s probably no place in India where you will not find these popular South Indian breakfast foods. In fact, it is fair to say that idli and dosa have gained cult status throughout the world now.</p>
        </div>
        <div class="w3-twothird w3-margin-bottom">
            <img src="images/chana-masala.jpg" style="width: 90% " height="600">
        </div>
        <div class="w3-third w3-margin-bottom">
            <p>Idlis and dosas are probably the most popular breakfast foods in India. Though they originated in South India, idlis and dosas have gained nation-wide recognition now. There’s probably no place in India where you will not find these popular South Indian breakfast foods. In fact, it is fair to say that idli and dosa have gained cult status throughout the world now.</p>
        </div>


    </body>
    </html>
